.btnDelete {
   
  color: rgb(209, 65, 65);
  cursor: pointer;
  

}

table {
  margin-left: 7px;
  border-collapse: collapse;
  border: 1px solid black;
} 

th {
  border: 2px solid black;
  background-color: rgb(209, 65, 65);
}
td {
  border: 2px solid black;
}

table.a {
  table-layout: auto;
  width: 180px;  
}
.mainMenu {
  background-color: rgb(51, 155, 146);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #999;
  width: 92%;

}

.subMenu {
  margin: 10px 0;


}

.searchbar {
  height: 50px;
  width: 92%;
  margin-left: 1px;
  display: inline-block;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

ul li {

  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
}

.btn:hover {
  background-color: RoyalBlue;
}


.material-icons {
  font-size: 40px;
  color: rgb(139, 8, 8);
}

.spannn {
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.menuSubItemsButton{
  text-align: left;
  border: none;
  font-size: 14px;
  
}
.menuItemsButton {
  text-align: left;
  height: 40px;
  width: 100%;
  border: none;
  background: none;
  background-color: rgb(51, 155, 146);
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}
.menuItemsButton[disabled] {
  color:black;
}

.searchbar {
  background-color: rgba(255, 255, 255, 0.589);
  height: 50px;
  width: 98%;
  font-size: 20px;
  margin-left: 1px;
  border-style: groove;

}

.addButton {
  background-color: rgba(255, 255, 255, 0.589);
  border-style: groove;
  color: black;
  font-size: 20px;
  height: 56px;
  width: 60px;
  margin-left: 1px;


}

.firstName {
  font-size: 15px;

}

.myForm {
  height: 30%;

  margin-left: 6px;
  font-size: 20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
