<h3>Please enter information about person:</h3>
<div ng-controller="personCtrl">
<form class="myForm">
        First name:<br>
        <input type="text" ng-model="AfirstName"> <br> 
        Last Name:<br>
        <input type="text" ng-model="AlastName"> <br>
        Codice Fiscale:<br>
        <input type="text" ng-model="Akey"> <br> <br>
         
          <button style="background-color:  #3ea8f3; border: black;" 
            ng-click="addPerson()">Add</button> 
            <a href="#!/"> <button style="background-color:  #3ea8f3; border: black; margin-left: 20px;" >
              cancel</button> </a>
              <div ng-show="personAddingStatus">
                  <h3> {{personInsertionstatus}} </h3>
                   </div> 
            
      </form>
    </div>