<h3 style="text-align: center;">Room is occupied/free on the following time </h3> <br>
<div ng-controller="reservationCtrl">
  <h2>Reservation for room : {{roomKey}} </h2> <br>
  <form class="myForm">
 Start Time : <br>
  <input class="form-control"
  ng-model="startDate"
  ng-model-options="{ updateOn: 'blur' }"
  placeholder="Select start time..."
  moment-picker="startDate" format="MM-DD-YYYY HH:mm"> <br> 
   <!--***************************-->
   End Time : <br>
    <input class="form-control"
  ng-model="endDate"
  ng-model-options="{ updateOn: 'blur' }"
  placeholder="Select end time..."
  moment-picker="endDate" format="MM-DD-YYYY HH:mm"> <br>
        <!--select person-->
        <div ng-init="showPersons()">
        Choose person :    <br>  
        <select ng-model="selectedName" ng-options="person.key as person.firstName for person in persons">
        </select> <br> <br>
        
        <button style="background-color: #3ea8f3; margin-left: 3px; height: 10%;"
          ng-click="addReservation($event)">Reserve</button>
          <a href="#!/seeAllReservations">              
            <button style="background-color: #3ea8f3; margin-left: 3px; height: 10%;">All reservations</button> 
        </a> 
       <br>
       </form>
      </div>
    
       <div ng-show="reservationAdding">
      <p style="font-size: x-large;"> {{ReservationInsertionStatus}} </p>
       </div>
   <br>

  
 


     
</div>