<div ng-controller = "menuCtrl">
   <h3>Please select the person from the list</h3>
   <ul ng-repeat="person in persons"  ng-controller="reservationCtrl">
        <li style="font-size: 18px;" class="firstName" >{{person.firstName}} </li>
         <a href="#!/reservationDone">    <button style="background-color: #3ea8f3; margin-left: 5px;" 
             ng-click="getPerson(person.key)">Reserve</button> </a>   <br>
    </ul>

</div>
