<div ng-controller="reservationCtrl">

        <h3 style="margin-left: 7px;">All reservations:</h3> <br>



        <div ng-init="showReservations()">
                <table class="a">
                        <tr>
                                       <!-- <th>Reservation Key</th> -->
                                       <!-- <th>Person Key</th> -->
                                        <th>Person</th>
                                        <th>Room</th>
                                        <th>Room Number</th>
                                        <th>start time</th>
                                        <th>end time</th>
                                        <th> delete</th>
                        </tr>
                        <tbody ng-repeat="reservation in reservations">
                                <tr>
                                     <!--   <td>{{reservation.key}}</td> -->
                                      <!--  <td>{{reservation.personKey}}</td> -->
                                         
                                        <td ng-controller="personCtrl" ng-init="findPerson(reservation.personKey)"> {{firstName}}</td>
                                        <td ng-controller="roomCtrl" ng-init="findRoom(reservation.roomKey)"> {{roomName}}</td>
                                        <td>{{reservation.roomKey}}</td>
                                        <td> {{reservation.startTime | date :'short' }} </td>
                                        <td>{{reservation.endTime | date :'medium' }}</td>
                                        <td><i ng-click="deleteReservation($event,reservation.key)"
                                                        style="color: rgb(209, 65, 65); cursor: pointer;" class="material-icons">delete
                                                </i></td>
                                </tr>
                        </tbody>
                </table> <br>

                <a href="#!/">
                        <button style="background-color: #3ea8f3; margin-left: 7px; height: 14%;">Menu</button>
                </a>
                <button style="background-color: #3ea8f3; margin-left: 15px; height: 14%;" ng-click="deleteAllReservations($event)">Remove all</button>
                <p style="text-align: left;font-size: x-large;"> {{deleteAllStatus}} </p>
                


        </div>
</div>